


<div class="form-container">
    <div *ngIf="this.warning !== ''" class="warning">{{warning}}</div>
  
    <label for="firstName" class="form-label">First Name: </label>
    <input id="firstName" [(ngModel)]="firstName" type="text" class="form-input">
  
    <label for="username" class="form-label">Username: </label>
    <input id="username" [(ngModel)]="userName" type="text" class="form-input">
  
    <label for="password" class="form-label">Password: </label>
    <input id="password" [(ngModel)]="password" type="password" class="form-input">
  
    <button (click)="cancel()" class="form-button">Cancel</button>
    <button (click)="submit()" class="form-button" [disabled]="submitting">Submit</button>
  </div>