#MainWrapper {
    width: 1440px;
    margin: auto;
}

#userBar {
    height: 35px;

}



#MainArea {
    width: 1440px;
    display: flex;
    flex-direction: row;
}

#Menu {
    width: 15%;
    height: 100vh;
    background-color: rgb(128, 73, 0);
}

#Area {
    width: 85%;
    height: 100vh;
}