.MenuParent {
	display: flex;
	flex-direction: column;
}

.btn {
	align-items: stretch;
	padding: 5px 10px;
	background-color: rgb(156, 56, 56);
	cursor: pointer;
}

.btn:hover {

	background-color: rgb(119, 32, 32);
}