<div id="userBar">
    <div class="userBar">
        <button class="right" (click)="logoff_btn()">Logout</button>
        <button class="right" (click)="AddUserToFamily()">Add Family Member</button>

        <div class="icon-wrapper" (click)="friendsRequestsDialog()">
            <div class="icon-with-number">
                <mat-icon>account_circle</mat-icon>
                <span>{{friendsRequests.length}}</span>
            </div>
        </div>


        <button class="" (click)="router.navigate([''])">Home</button>
        <button class="" (click)="router.navigate(['/addrecipe'])">Add Recipe</button>
        <button class="" (click)="familyPage()">Recipes</button>
        <button class="" (click)="router.navigate(['/pantry'])">Pantry</button>
        <!-- <button class="" (click)="router.navigate([''])">Ingredients</button> -->
    </div>

</div>